/* img {
  border-radius: 8px;
} */

h1 {
  color: white;
  font-family: Sans-serif;
  font-size: 28px;
}

.header1 {
  background-color: rgb(165, 8, 8);
  color: white;
  font-family: Sans-serif;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header2 {
  background-color: rgb(47, 47, 47);
  color: white;
  font-family: Sans-serif;
  width: 100%;
  top: 70px;
  padding: 20px;
  text-align: right;
}

button {
  border: none;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.button1 {
  background-color: rgb(165, 8, 8);
  color: white;
  font-family: Sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

.button2 {
  background-color: rgb(47, 47, 47);
  color: white;
  font-family: Sans-serif;
}

body {
  font-family: Sans-serif;
  font-size: 15px;
  padding: 20px;
  /* width: 85%; */
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.img1 {
  width: 900px;
  height: 450px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.img2 {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.img3 {
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.img4 {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer {
  background-color: rgb(47, 47, 47);
  color: white;
  font-family: Sans-serif;
  font-size: 12px;
  left: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.column-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-left {
  display: flex;
  flex-direction: column;
}
.column-right {
  display: flex;
  flex-direction: column;
}